section.cta-section {
    margin-top: 0;
    margin-bottom: 0;

    .widget {
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }

    }//.widget

    .sub-title {
        font-size: 0.7em;
        color: #202020;
        font-weight: 700;
        letter-spacing: 1px;
        display: block;
    }//.sub-title

    .widget_blossomtheme_companion_cta_widget {

        .blossomtheme-cta-container {
            text-align: left;
            
            .widget-title {
                color: $black_color;
                margin-top: 0;
                margin-bottom: 0;
                font-size: 2.8em;
                font-family: $secondary_font;
                text-align: left;
            }//.widget-title

            .text-holder {
                color: $font_color;

                p {
                    margin-top: 20px;
                    margin-bottom: 0;
                    font-size: 1em;
                }
                
            }//.text-holder

        }//.blossomtheme-cta-container

    }//.widget_blossomtheme_companion_cta_widget

    .button-wrap {
        margin-top: 30px;
    }//.button-wrap

    &.style-one {

        .widget_blossomtheme_companion_cta_widget {

            > div {
                width: 60%;
                padding: 60px 0;
                background-position: inherit !important;
                display: flex;
                flex: 1;
                flex-direction: column;
                align-items: flex-end;
            }

            .blossomtheme-cta-container {
                background: $white_color;
                width: 550px;
                position: relative;
                right: -32%;
                padding: 100px 0 100px 100px;

                .btn-cta {
                    display: inline-block;
                    font-size: 0.7em;
                    color: $white_color;
                    font-weight: 700;
                    letter-spacing: 1px;
                    background: #202020;
                    padding: 20px 30px;
                    line-height: 1;
                    margin-top: 10px;
                    margin-left: 10px;

                    &:first-child {
                        margin-left: 0;
                    }

                    + .btn-cta, 
                    &:hover {
                        background: $primary_color;
                        color: #202020;
                    }
                    
                    + .btn-cta:hover {
                        background: #202020;
                        color: $white_color;
                    }

                }
            }//.blossomtheme-cta-container
        }//.widget_blossomtheme_companion_cta_widget
    }//&.style-one

    &.style-two {
        margin-top: 100px;
        margin-bottom: 100px;

        .widget {
            margin-bottom: 0;
        }

        .container {
            max-width: 100%;
            padding-left: 4%;
            padding-right: 4%;
            display: flex;
            flex: 1;
            flex-wrap: wrap;
        }//.container

        .widget_blossomtheme_companion_cta_widget {
            width: 50%;
            padding-right: 15px;
            display: flex;
            flex: 1;
            flex-direction: column;
            
            + .widget_blossomtheme_companion_cta_widget {
                padding-right: 0;
                padding-left: 15px;
            }//+ .widget_blossomtheme_companion_cta_widget

            > div {
                padding: 60px;
                display: flex;
                flex: 1;
                flex-direction: column;
            }//> div

            .blossomtheme-cta-container {
                max-width: 350px;
            }//.blossomtheme-cta-container

            .btn-cta {
                background: none;
                display: inline-block;
                font-size: 0.7em;
                color: #202020;
                font-weight: 700;
                letter-spacing: 1px;
                padding: 15px 35px;
                border: 1px solid #202020;
                line-height: 1.5em;

                + .btn-cta, &:hover {
                    background: #202020;
                    color: $white_color;
                }

                + .btn-cta:hover {
                    background: none;
                    color: #202020;
                }
            }//.btn-cta

            .bttk-cta-bg {

                .blossomtheme-cta-container {

                    .widget-title, .text-holder {
                        color: $white_color;
                    }//.widget-title

                }//.blossomtheme-cta-container

                .btn-cta {
                    border-color: $white_color;
                    color: $white_color;

                    &:hover {
                        background: $white_color;
                        color: $black_color;
                    }

                    + .btn-cta {
                        border-color: #202020;

                        &:hover {
                            border-color: $white_color;
                        }
                    }

                }//.btn-cta

            }//.bttk-cta-bg

        }//.widget_blossomtheme_companion_cta_widget

    }//&.style-two

    &.style-three {

        .widget_blossomtheme_companion_cta_widget {

            > div {
                padding-top: 130px;
                padding-bottom: 130px;
                position: relative;
                z-index: 1;

                &.bttk-cta-bg:before {
                    content: "";
                    background: rgba($black_color, 0.5);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }
            }//> div

            .blossomtheme-cta-container {
                max-width: 600px;
                text-align: center;
                margin: 0 auto;
            }//.blossomtheme-cta-container

            .sub-title {
                color: $white_color;
                margin-bottom: 10px;
            }//.sub-title

            .blossomtheme-cta-container .widget-title {
                text-align: center;
                font-family: $primary_font;
                color: $white_color;
                font-style: italic;
                font-size: 2.4em;
                text-align: center;
            }//.widget-title

            .text-holder {
                color: $white_color;
            }//.text-holder

            .btn-cta {
                background: none;
                display: inline-block;
                font-size: 0.7em;
                text-transform: uppercase;
                font-weight: 700;
                color: $white_color;
                letter-spacing: 1px;
                border: 2px solid $white_color;
                padding: 12px 30px;

                &:hover, 
                + .btn-cta {
                    background: $white_color;
                    color: #202020;
                }

                + .btn-cta:hover {
                    background: none;
                    color: $white_color;
                }
            }//.btn-cta

        }//.widget_blossomtheme_companion_cta_widget

    }//&.style-three

}//section.cta-section

@include media(lg) {
    section.cta-section {

        &.style-one {
            .widget_blossomtheme_companion_cta_widget {

                .blossomtheme-cta-container {
                    width: 90%;
                    right: auto;
                    left: calc((100% - 50%) + 100px);
                }//.blossomtheme-cta-container
            }//.widget_blossomtheme_companion_cta_widget
        }
    }//section.cta-section
}//media(lg)

@include media(md) {
    section.cta-section {

        &.style-one {
            .widget_blossomtheme_companion_cta_widget {

                > div {
                    width: 50%;
                }

                .blossomtheme-cta-container {
                    width: auto;
                    right: auto;
                    padding: 60px 0 60px 60px;
                    left: calc(100% - 120px);
                }//.blossomtheme-cta-container
            }//.widget_blossomtheme_companion_cta_widget
        }
    }//section.cta-section
}//media(md)

@include media(sm) {
    section.cta-section {

        .widget-title {
            font-size: 2em;
        }//.widget-title

        &.style-one {

            .widget_blossomtheme_companion_cta_widget {

                > div {
                    padding: 40px 20px;
                    width: 100%;
                }

                .blossomtheme-cta-container {
                    max-width: 768px;
                    margin-left: auto;
                    margin-right: auto;
                    width: 100%;
                    right: 0;
                    left: 0;
                    padding: 40px 20px;
                    text-align: center;
                    background: rgba($white_color, 0.9);

                    .btn-cta {
                        padding-left: 30px;
                        padding-right: 30px;
                    }//.btn-cta
                }//.blossomtheme-cta-container
            }//.widget_blossomtheme_companion_cta_widget
        }

        &.style-two {

            .widget_blossomtheme_companion_cta_widget {

                .blossomtheme-cta-container {

                    .widget-title {
                        font-size: 2em;
                    }//.widget-title

                }//.blossomtheme-cta-container

                > div {
                    padding: 40px;
                }//> div

            }//.widget_blossomtheme_companion_cta_widget

        }//&.style-two

    }//section.cta-section

}//media(sm)

@include media(xs) {
    section.cta-section {

        .widget_blossomtheme_companion_cta_widget {

            .blossomtheme-cta-container {

                .widget-title {
                    font-size: 2em;
                }//.widget-title

            }//.blossomtheme-cta-container

        }//.widget_blossomtheme_companion_cta_widget

        &.style-two {
            margin-top: 60px;
            margin-bottom: 60px;

            .container {
                flex-direction: column;
            }//.container

            .widget_blossomtheme_companion_cta_widget {
                width: 100%;
                padding-right: 0;

                + .widget_blossomtheme_companion_cta_widget {
                    padding-left: 0;
                    margin-top: 30px;
                }//+ .widget_blossomtheme_companion_cta_widget

                > div {
                    padding-left: 20px;
                    padding-right: 20px;
                }

            }//.widget_blossomtheme_companion_cta_widget

        }//&.style-two

        &.style-three {

            .widget_blossomtheme_companion_cta_widget {

                > div {
                    padding-top: 80px;
                    padding-bottom: 80px;
                }
                
                .blossomtheme-cta-container {

                    .widget-title {
                        font-size: 2em;
                    }
                }//.blossomtheme-cta-container
            }//.widget_blossomtheme_companion_cta_widget
        } //&.style-three
    }//section.cta-section
}//media(xs)